<div class="row">



  <div *ngFor="let producto of productos" class="card card-body col-2 ms-2 shadow-sm mb-2">
    <div class="row">

      <div class="col-md-12">
        <img [src]="producto.URL" class="card-img" alt="producto">
      </div>


      <div class="col-md-12">
        <ul>
          <li>
            id:{{producto._id}}
          </li>
          <li>
            Nombre:{{producto.nombre}}
          </li>
          <li>
            Marca:{{producto.marca}}
          </li>
          <li>
            Precio:{{producto.precio}}
          </li>
          <li>
            Creado: {{producto.createdAt}}
          </li>
        </ul>
        <button class=" btn btn-primary m-3" [routerLink]="['/producto/editar/',producto._id]"> Editar </button>
        <button class="btn btn-danger" (click)="deleteProducto(producto._id)">Eliminar</button>
      </div>


    </div>
  </div>
</div>
