<label for="" class="ms-4 h4">Buscador</label>
<input type="text" class="form-control ms-3 mb-4" placeholder="Escribe tu busqueda aquí" [(ngModel)]="term">
<div class="row">



  <div *ngFor="let producto of (productos |filter:term |filtername:term)  "
    class="card card-body col-3 ms-2 shadow-sm mb-2">
    <div>

      <div>
        <img [src]="producto.URL" class="card-img" alt="producto">
      </div>
      <div>
        <ul>
          <li>
            id:{{producto._id}}
          </li>
          <li>
            Nombre:{{producto.nombre}}
          </li>
          <li>
            Marca:{{producto.marca}}
          </li>
          <li>
            Precio:{{producto.precio}}
          </li>
          <li>
            Creado: {{producto.createdAt}}
          </li>
        </ul>
        <button class=" btn btn-primary m-3" [routerLink]="['/producto/editar/',producto._id]"> Editar </button>
        <!-- <button class="btn btn-danger" (click)="deleteProducto(producto._id)">Eliminar</button> -->
        <button class="btn btn-danger" mwlConfirmationPopover [popoverTitle]="popoverTitle"
          [popoverMessage]="popoverMessage" placement="left" (confirm)="deleteProducto(producto._id)"
          (cancel)="cancelClicked = true">
          Eliminar
        </button>
      </div>


    </div>
  </div>
</div>
